
       /* Set the size of the div element that contains the map */
      #map {
        height: 100vh;  /* The height is 400 pixels */
        width: auto;  /* The width is the width of the web page */
       }

       .navbar{
       		height: 100%;
       		width: 100vh;
       		background-color: blue;
       }